*
{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", Arial, sans-serif;}
@media only screen and (min-width: 1600px){ 

    p {
        margin-bottom: 1.5em; }
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #f4f6f8;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 40%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #c5c6c7 solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: #c5c6c7;
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 14px 16px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 1000px;
    }
    .content .left
    {
        width: 40%;
        float:left;
    }
    
    
    .content .right
    { 
        width: 50%;
        float:left;
        color: white;
        margin: 0 auto;
    }
    .content .right .title
    {
        margin-left: 20%;
        margin-top: 5%;
    }
    .content .right .part3
    {
        width: 100%;
        background-color: #2479c9;
    }

    .footer
    {
        position: absolute;
        top: 1000px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1599px) 
{
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #66fcf1;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 30%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        
    }
    .nav-bar .menu .menu-item:hover
    {
        
            background-color: transparent;
        
            color: #66fcf1;
            transform: translateY(-7px);
          }
          
          .menu-item:active {
            transform: translateY(-1px);
          }


    
    
          .menu-item {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18px;
            color: #66fcf1;
            font-family: inherit;
            font-weight: 800;
            cursor: pointer;
            position: relative;
            border: none;
            background: none;

            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: color;
          }
          
          .menu-item:focus,
          button:hover {
            color: #66fcf1;
          }
          
          .menu-item:focus:after,
          .menu-item:hover:after {
            width: 100%;
            left: 0%;
          }
          
          .menu-item:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #66fcf1;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
          }




          button {
            margin-top: 10px;
            display: block; /* Đảm bảo button chiếm toàn bộ chiều ngang của phần tử cha */
    margin: 0 auto;
            --border-radius: 15px;
            --border-width: 4px;
            appearance: none;
            position: relative;
            padding: 1em 2em;
            border: 0;
            background-color: #212121;
            font-family: "Roboto", Arial, "Segoe UI", sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            z-index: 2;
           }
           
           button::after {
            --m-i: linear-gradient(#000, #000);
            --m-o: content-box, padding-box;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: var(--border-width);
            border-radius: var(--border-radius);
            background-image: conic-gradient(
                   #488cfb,
                   #29dbbc,
                   #ddf505,
                   #ff9f0e,
                   #e440bb,
                   #655adc,
                   #488cfb
               );
            -webkit-mask-image: var(--m-i), var(--m-i);
            mask-image: var(--m-i), var(--m-i);
            -webkit-mask-origin: var(--m-o);
            mask-origin: var(--m-o);
            -webkit-mask-clip: var(--m-o);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            filter: hue-rotate(0);
            animation: rotate-hue linear 500ms infinite;
            animation-play-state: paused;
           }
           
           button:hover::after {
            animation-play-state: running;
           }
           
           @keyframes rotate-hue {
            to {
             filter: hue-rotate(1turn);
            }
           }
           
           button,
           button::after {
            box-sizing: border-box;
           }
           
           button:active {
            --border-width: 5px;
           }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #c5c6c7;
        text-align: center;
        display: block;
        padding: 14px 16px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 1200px;
    }
    .content .left
    {
        width: 40%;
        float:left;
    }   
    .content .right
    { 
        width: 60%;
        float:left;
        color: white
    }
    .content .right .title
    {
        margin-left: 25%;
        margin-top: 5%;
    }

    .footer
    {
        position: absolute;
        top: 1100px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #66fcf1;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #66fcf1;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 33%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 33%;
        width: 33%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 66%;
        width: 34%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1023px)
{
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 30%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #504f4f solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 12px 14px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 650px;
    }
    .content .left
    {
        width: 40%;
        float:left;
    }
     
    .content .right
    { 
        width: 60%;
        float:left;
        color: white
    }
    .content .right .title
    {
        margin-left: 15%;
        margin-top: 5%;
    }

    .footer
    {
        position: absolute;
        top: 650px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
} 
@media only screen and (max-width: 600px)
{
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #f4f4f7;
        width: 100%;
        height: 60px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 5%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #504f4f solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 5px 2px;
        font-size: medium;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 1100px;
    }
    .content .left
    {
        position: absolute;
        height: 800px;
        width: 100%;
    }
        
    .content .right
    { 
        position: absolute;
        top: 600px;
        width: 100%;
        height: 400px;
        color: white
    }
    .content .right .title
    {
        margin-left: 15%;
        margin-top: 5%;
    }

    .footer
    {
        position: absolute;
        top: 1200px;
        background-color: #252527;
        width: 100%;
        height: 250px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}
