*
{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", Arial, sans-serif;
}
@media only screen and (min-width: 1600px) { 
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 40%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #504f4f solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 14px 16px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 1000px;
    }
    .content .title
    {
        position: absolute;
        top: 5%;
        left: 45%;
        width: 100%;
        color: white;
    }
    .content .instruct
    {
        position: absolute;
        top: 10%;
        left: 35%;
        background-color: #3c3c3c;
        box-shadow: 5px 10px 8px #504f4f;
        width: 35%;
        height: 750px;
        padding: 15px;
        border-radius: 15px;
        animation: fadeIn 3s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    .content .instruct .name
    {
        color: #caccd1;
    }
    .content .instruct .howtoinstall
    {
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        color: #caccd1;
        text-align: center;
    }  
    .content .instruct .howtoinstall h3
    {
        padding-bottom: 3%;
    } 
    
    .footer
    {
        position: absolute;
        top: 1000px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) 
{ 
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #66fcf1;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 30%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
    }
   .nav-bar .menu .menu-item:hover
    {
        
            background-color: transparent;
        
            color: #66fcf1;
            transform: translateY(-7px);
          }
          
          .menu-item:active {
            transform: translateY(-1px);
          }


    
    
          .menu-item {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18px;
            color: #66fcf1;
            font-family: inherit;
            font-weight: 800;
            cursor: pointer;
            position: relative;
            border: none;
            background: none;

            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: color;
          }
          
          .menu-item:focus,
          button:hover {
            color: #66fcf1;
          }
          
          .menu-item:focus:after,
          .menu-item:hover:after {
            width: 100%;
            left: 0%;
          }
          
          .menu-item:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #66fcf1;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
          }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #caccd1  ;
        text-align: center;
        display: block;
        padding: 14px 16px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 900px;
    }
    .content .title
    {
        position: absolute;
        top: 5%;
        left: 40%;
        width: 100%;
        color: white;
    }
    .content .instruct
    {
        position: absolute;
        top: 10%;
        left: 28%;
        background-color: #3c3c3c;
        box-shadow: 5px 10px 8px #504f4f;
        width: 45%;
        height: 650px;
        padding: 15px;
        border-radius: 15px;
        animation: fadeIn 3s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    .content .instruct .name
    {
        color: #caccd1;
    }
    .content .instruct .howtoinstall
    {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        color: #caccd1;
        text-align: center;
    }  
    .content .instruct .howtoinstall h3
    {
        padding-bottom: 3%;
    }  
    
    .footer
    {
        position: absolute;
        top: 900px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #66fcf1;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #66fcf1;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 33%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 33%;
        width: 33%;
        height: 95%;
        float: left; 
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 66%;
        width: 34%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) 
{ 
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 80px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 30%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #504f4f solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 12px 14px;
        font-size: larger;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 900px;
    }
    .content .title
    {
        position: absolute;
        top: 5%;
        left: 40%;
        width: 100%;
        color: white;
    }
    .content .instruct
    {
        position: absolute;
        top: 10%;
        left: 25%;
        background-color: #3c3c3c;
        box-shadow: 5px 10px 8px #504f4f;
        width: 55%;
        height: 650px;
        padding: 15px;
        border-radius: 15px;
        animation: fadeIn 3s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    .content .instruct .name
    {
        color: #caccd1;
    }
    .content .instruct .howtoinstall
    {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        color: #caccd1;
        text-align: center;
    }  
    .content .instruct .howtoinstall h3
    {
        padding-bottom: 3%;
    } 
    
    .footer
    {
        position: absolute;
        top: 900px;
        background-color: #252527;
        width: 100%;
        height: 200px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}

@media only screen and (max-width: 600px) 
{ 
    .nav-bar
    {
        position: sticky;
        top:0;
        background-color: #252527;
        width: 100%;
        height: 60px;
    }
    .nav-bar .ribbon
    {
        position: absolute;
        top: 90%;
        width: 100%;
        height: 10%;
        background-color: #2479c9;
    }
    .nav-bar .menu
    {
        position: absolute;
        top:15%;
        left: 3%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
    }
    .nav-bar .menu .menu-item
    {        
        display: inline-block;
        border-right: 1px #504f4f solid;
    }
    .nav-bar .menu .menu-item:hover
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav-bar .menu .menu-item a
    {
        text-decoration: none;
        color: #7d7e80;
        text-align: center;
        display: block;
        padding: 5px 2px;
        font-size: medium;
    }
    .content
    {
        position: absolute;
        background-color: #1e1e1e;
        width: 100%;
        height: 900px;
    }
    .content .title
    {
        position: absolute;
        top: 5%;
        left: 28%;
        width: 100%;
        color: white;
    }
    .content .instruct
    {
        position: absolute;
        top: 10%;
        left: 15%;
        background-color: #3c3c3c;
        box-shadow: 5px 10px 8px #504f4f;
        width: 70%;
        height: 650px;
        padding: 15px;
        border-radius: 15px;
        animation: fadeIn 3s;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    .content .instruct .name
    {
        color: #caccd1;
    }
    .content .instruct .howtoinstall
    {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        color: #caccd1;
        text-align: center;
    }  
    .content .instruct .howtoinstall h3
    {
        padding-bottom: 3%;
    } 
    
    .footer
    {
        position: absolute;
        top: 900px;
        background-color: #252527;
        width: 100%;
        height: 250px;
        color: #7d7e80
    }

    .footer a
    {
        text-decoration: none;
        color: #2479c9;
    }

    .footer .ribbon1
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5%;
        background-color: #2479c9;
    }

    .footer .part1
    {
        position: absolute;
        top: 5%;
        left: 0;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part2
    {
        position: absolute;
        top: 5%;
        left: 25%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part3
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }

    .footer .part4
    {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 25%;
        height: 95%;
        float: left;
        padding: 3%;
        border-right: 1px #504f4f solid;
    }
}